body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: radial-gradient(ellipse at top left, #0b0c2a, #1c1c5a);
}

.card-wrapper {
  perspective: 1000px;
  height: auto;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-custom {
  width: 20rem;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(226, 221, 221);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d;
  position: relative;
  background-color: #fff;
}

.card-custom:hover {
  box-shadow: 0 8px 16px rgba(255, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-custom:hover .card-img-top {
  transform: scale(1.05);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  padding-left: 20px;
}

.card-text li {
  margin-bottom: 8px;
  list-style-type: disc;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 2px;
  width: 100%;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card-grid {
    padding: 20px;
    gap: 20px;
  }
  
  .card-custom {
    width: 100%;
    max-width: 20rem;
  }
}